:root {
  --main-content-color: #333;
  --secondary-content-color: #ffbd54;
}

@font-face {
  font-family: "Futura";
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/futuraptlight.woff2"), 
  url("../fonts/futuraptlight.woff");
}

@font-face {
  font-family: "Futura";
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/futuraptregular.woff2"), 
  url("../fonts/futuraptregular.woff");
}

@font-face {
  font-family: "Futura";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/futuraptmedium.woff2"), 
  url("../fonts/futuraptmedium.woff");
}

@font-face {
  font-family: "Futura";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/futuraptbold.woff2"), 
  url("../fonts/futuraptbold.woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-family: "Futura", "Arial", sans-serif;
  font-weight: normal;
  color: var(--main-content-color);
}

img {
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Sticky footer */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #f9f9f9;
  background-image: url("../images/bg.png");
}

/* Site header styles begin */

.site-header {
  font-weight: 500;
}

/* Header start styles started */
.start {
  padding-top: 11px;
  padding-bottom: 9px;
  background-color: #f9f8f8;
}

.start__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1117px;
  margin-left: auto;
  font-style: normal;
}

.start__destination {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: inherit;  
  -webkit-transition: color 0.3s ease, opacity 0.3s ease;  
  -o-transition: color 0.3s ease, opacity 0.3s ease;  
  transition: color 0.3s ease, opacity 0.3s ease;
}

.start__destination::before {
  display: inline-block;
  width: 14px;
  height: 13px;
  margin-right: 9px;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  background-image: url("../images/home.svg");
  content: "";
}

.start__destination:hover {
  color:var(--secondary-content-color);
}

.start__destination:active {
  opacity: 0.6;
}

.start-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.start-tel__item:not(:last-child) {
  margin-right: 22px;
}

.start-tel--decoration::before {
  display: inline-block;
  width: 13px;
  height: 13px;
  -webkit-transform: translate(-9px, 2px);
      -ms-transform: translate(-9px, 2px);
          transform: translate(-9px, 2px);
  background-image: url("../images/tel.svg");
  content: "";
}

.start-tel__item--circle::before {
  display: inline-block;
  width: 4px;
  height: 4px;
  -webkit-transform: translate(-9px, -3px);
      -ms-transform: translate(-9px, -3px);
          transform: translate(-9px, -3px);
  background-color: var(--secondary-content-color);
  border-radius: 50%;
  content: "";
}

.start-tel__item--circle::after {
  display: inline-block;
  width: 4px;
  height: 4px;
  -webkit-transform: translate(9px, -3px);
      -ms-transform: translate(9px, -3px);
          transform: translate(9px, -3px);
  background-color: var(--secondary-content-color);
  border-radius: 50%;
  content: "";
}

.start-tel__link {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s ease, color 0.3s ease;
  -o-transition: opacity 0.3s ease, color 0.3s ease;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.start-tel__link:hover {
  color: var(--secondary-content-color);
}
.start-tel__link:active {
  color: var(--main-content-color);
  opacity: 0.6;
}

.workday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.workday::before {
  display: inline-block;
  width: 14px;
  height: 15px;
  background-image: url("../images/calendar.svg");
  -webkit-transform: translate(-7px, 2px);
      -ms-transform: translate(-7px, 2px);
          transform: translate(-7px, 2px);
  content: "";
}

.workday__item:first-child {
  margin-right: 17px;
}

.workday__bold {
  font-size: 14px;
  line-height: 18px;
}

.workday__time {
  font-weight: normal;
}
/* Header start styles finished */
/* Header end styles started */

.end {
  position: relative;
  z-index: 1;
}

.end__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  position: absolute;
  top: -18px;
  left: calc(50% - 655px);
  z-index: 2;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.navigation__list::before {
  display: inline-block;
  width: 21px;
  height: 22px;
  -webkit-transform: translate(-12px, 1px);
      -ms-transform: translate(-12px, 1px);
          transform: translate(-12px, 1px);
  background-image: url("../images/fish.svg");
  content: "";
}

.navigation__item {
  padding: 20px 0 16px 0;
  border-bottom: 4px solid transparent;
  -webkit-transition: border-bottom 0.3s ease, opacity 0.3s ease;
  -o-transition: border-bottom 0.3s ease, opacity 0.3s ease;
  transition: border-bottom 0.3s ease, opacity 0.3s ease;
}

.navigation__item:hover {
  border-bottom: 4px solid #f4ffad;
}

.navigation__item:active {
  opacity: 0.6;
}

.navigation__item:not(:last-child) {
  margin-right: 55px;
}

.navigation__link {
  line-height: 21px;
  text-decoration: none;
  color: inherit;
}

.end__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 163px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.end__link:hover {
  color: var(--secondary-content-color);
}

.end__link:active {
  color: var(--main-content-color);
  opacity: 0.6;
}

.end__link::before {
  display: inline-block;
  width: 28px;
  height: 27px;
  -webkit-transform: translate(-5px, -3px);
      -ms-transform: translate(-5px, -3px);
          transform: translate(-5px, -3px);
  background-image: url("../images/pet.svg");
  content: "";
}
/* Header end styles finished */
/* Site header styles end */

/* Site main styles begin */
/* Section hero styles started */

.hero {
  padding-top: 153px;
  padding-bottom: 290px;
  background-image: url("../images/pets.png"), url("../images/parrot.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% - 500px), calc(50% + 680px);
  background-position-y: -177px, 310px;
}

.hero__text {
  width: 608px;
  margin-left: auto;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 70px;
  font-weight: 700;
  line-height: 64px;
}

.hero__tagline {
  color: #78c0de;
}

.hero__desc {
  margin-top: 0;
  margin-bottom: 38px;
  padding-right: 113px;
  line-height: 21px;
  color: #949494;
}

.hero__more {
  display: inline-block;
  width: 181px;
  padding: 15px 20px 16px 20px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  background-color: var(--main-content-color);
  border-radius: 3px;
  color: #fff;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.hero__more:hover {
  color: var(--main-content-color);
  background-color: var(--secondary-content-color);
}

.hero__more:active {
  opacity: 0.6;
}
/* Section hero styles finished */
/* Section quote styles started */

.quote {
  padding-bottom: 191px;
}

.quote__text {
  width: 753px;
  margin: 0 auto;
  text-align: center;
}

.quote__text::before {
  display: inline-block;
  width: 50px;
  height: 42px;
  -webkit-transform: translate(-432px, 60px);
      -ms-transform: translate(-432px, 60px);
          transform: translate(-432px, 60px);
  background-image: url("../images/markquote.svg");
  content: ""
}

.quote__text::after {
  display: inline-block;
  width: 50px;
  height: 42px;
  -webkit-transform: translate(251px, -115px) rotateZ(180deg);
      -ms-transform: translate(251px, -115px) rotate(180deg);
          transform: translate(251px, -115px) rotateZ(180deg);
  background-image: url("../images/markquote.svg");
  content: ""
}

.quote__blockquote {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  color: #949494;
}

.quote__blockquote::before {
  display: block;
  width: 140px;
  height: 1px;
  margin-right: auto;
  margin-bottom: 43px;
  margin-left: auto;
  -webkit-transform: translateX(-37px);
      -ms-transform: translateX(-37px);
          transform: translateX(-37px);
  background-color: #dbdbdb;
  content: "";
}

.quote__blockquote::after {
  display: block;
  width: 140px;
  height: 1px;
  margin: 35px auto;
  -webkit-transform: translateX(-37px);
      -ms-transform: translateX(-37px);
          transform: translateX(-37px);
  background-color: #dbdbdb;
  content: "";
}

.quote__cite {
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: var(--main-content-color);
}
/* Section quote styles finished */
/* Section services styles started */
.services {
  padding-bottom: 127px;
}

.services__title {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}

.services__btn {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, opacity 0.3s ease;
  -o-transition: background-color 0.3s ease, opacity 0.3s ease;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.services__btn--next {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}

.services__btn:hover {
  background-color: #fff;
}

.services__btn:active {
  opacity: 0.6;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  -webkit-column-gap: 13px;
     -moz-column-gap: 13px;
          column-gap: 13px;
  list-style: none;
}

.services__item {
  width: 193px;
  padding: 30px 32px 28px 35px;
  background-color: #fff;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.services__item:not(:first-child) {
  margin-bottom: 14px;
}

.services__item:nth-child(4),
.services__item:last-child {
  padding-bottom: 39px;
}

.services__item::before {
  display: inline-block;
  content: "";
}

.services__item--doc::before {
  width: 54px;
  height: 78px;
  margin-bottom: 21px;
  margin-left: calc(50% - 27px);
  background-image: url("../images/doc.svg");
}

.services__item--fill::before {
  width: 62px;
  height: 77px;
  margin-bottom: 22px;
  margin-left: calc(50% - 31px);
  background-image: url("../images/fill.svg");
}

.services__item--treatment::before {
  width: 72px;
  height: 78px;
  margin-bottom: 22px;
  margin-left: calc(50% - 36px);
  background-image: url("../images/treatment.svg");
}

.services__item--checking::before {
  width: 76px;
  height: 76px;
  margin-bottom: 34px;
  margin-left: calc(50% - 38px);
  background-image: url("../images/checking.svg");
}

.services__item--lab::before {
  width: 78px;
  height: 78px;
  margin-bottom: 21px;
  margin-left: calc(50% - 39px);
  background-image: url("../images/lab.svg");
}

.services__item--healthing::before {
  width: 76px;
  height: 76px;
  margin-bottom: 33px;
  margin-left: calc(50% - 38px);
  background-image: url("../images/healthing.svg");
}

.services__item:hover {
  opacity: 0.8;
}

.services__item:active {
  opacity: 0.6;
}

.services__link {
  text-decoration: none;
  color: inherit;
}

.services__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 42px 35px 43px 35px;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
  width: 1223px;
  margin: 0 auto;
  background-color: #fff;
}

.detail__text {
  width: 492px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.detail__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 36px;
  font-weight: 500;
  line-height: 20px;
}

.detail__desc {
  margin: 0;
  line-height: 20px;
  color: #949494;
}

.detail__desc:nth-of-type(1) {
  margin-bottom: 9px;
}

.detail__desc:nth-of-type(2) {
  margin-bottom: 34px;
}

.detail__more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  -o-transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.detail__more--secondary {
  width: 185px;
  margin-right: 21px;
  padding: 14px 20px 15px 20px;
  background-color: var(--secondary-content-color);
}

.detail__more--secondary::before {
  display: inline-block;
  -webkit-transform: translateX(-7px);
      -ms-transform: translateX(-7px);
          transform: translateX(-7px);
  width: 22px;
  height: 21px;
  background-image: url("../images/money.svg");
  content: "";
}

.detail__more--secondary:hover {
  color: var(--secondary-content-color);
  background-color: var(--main-content-color);
}

.detail__more--secondary:active {
  opacity: 0.6;
}

.detail__more--main {
  width: 241px;
  padding: 14px 20px 15px 20px;
  background-color: var(--main-content-color);
}

.detail__more--main::before {
  display: inline-block;
  -webkit-transform: translateX(-7px);
      -ms-transform: translateX(-7px);
          transform: translateX(-7px);
  width: 21px;
  height: 22px;
  background-image: url("../images/list.svg");
  content: "";
}

.detail__more--main:hover {
  color: var(--main-content-color);
  background-color: var(--secondary-content-color);
}

.detail__more--main:active {
  opacity: 0.6;
}
/* Section services styles finished */
/* Site article styles begin */

.site-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 198px;
  padding-bottom: 153px;
  background-image: url("../images/articlebg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.site-article__inner {
  width: 1700px;
  margin: 0 auto;
  padding-left: 256px;
}

.site-article__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
}

.site-article__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 21px;
     -moz-column-gap: 21px;
          column-gap: 21px;
}

.site-article__input {
  width: 335px;
  padding: 18px 22px 13px 22px;
  color: var(--main-content-color);
  border: 0;
  border-radius: 5px;
}

.site-article__input::-webkit-input-placeholder {
  color: #949494;
}

.site-article__input::-moz-placeholder {
  color: #949494;
}

.site-article__input:-ms-input-placeholder {
  color: #949494;
}

.site-article__input::-ms-input-placeholder {
  color: #949494;
}

.site-article__input::placeholder {
  color: #949494;
}

.site-article__btn {
  width: 188px;
  padding: 15px 20px 14px 20px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  color: #fff;
  background-color: var(--main-content-color);
  border: 0;
  border-radius: 3px;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  -o-transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.site-article__btn:hover {
  color: var(--main-content-color);
  background-color: var(--secondary-content-color);
}

.site-article__btn:active {
  color: var(--main-content-color);
  background-color: var(--secondary-content-color);
  opacity: 0.6;
}
/* Site article styles end */
/* Section useful started */
.useful {
  padding-top: 151px;
  padding-bottom: 265px;
}

.useful__title {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 48px;
  line-height: 42px;
  text-align: center;
}

.useful__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  list-style: none;
}

.useful__item {
  width: 305px;
  border: 1px solid #e4e4e2;
  border-radius: 5px;
  -webkit-box-shadow: (0px 4px 4px transparent);
          box-shadow: (0px 4px 4px transparent);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.useful__item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 640px;
}

.useful__item:hover {
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.useful__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 21px 22px 36px 22px;
}

.useful__item:nth-child(2) .useful__content {
  padding: 41px 33px 38px 31px;
}

.useful__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.useful__hash:not(:last-child) {
  margin-right: 8px;
}

.useful__hash {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #3d9cea;
}

.useful__date {
  display: block;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: right;
  color: #949494;
}

.useful__item:nth-child(2) .useful__date {
  margin-bottom: 0;
}

.useful__item:nth-child(3) .useful__date {
  margin-bottom: 3px;
}

.useful__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 18px;
  padding-bottom: 0;
}

.useful__item:nth-child(2) .useful__text {
  padding: 0;
}

.useful__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.useful__item:nth-child(2) .useful__subtitle {
  margin-bottom: 15px;
  padding-right: 76px;
} 

.useful__item:nth-child(3) .useful__subtitle {
  margin-bottom: 13px;
}

.useful__desc {
  margin: 0;
  margin-bottom: 33px;
  line-height: 20px;
  color: #949494;
}

.useful__more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  text-decoration: none;
  -moz-text-align-last: left;
       text-align-last: left;
  line-height: 27px;
  color: inherit;
  -webkit-transition: opacity 0.3s ease, color 0.3s ease;
  -o-transition: opacity 0.3s ease, color 0.3s ease;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.useful__more::before {
  width: 28px;
  height: 27px;
  -webkit-transform: translate(-5px, 0);
      -ms-transform: translate(-5px, 0);
          transform: translate(-5px, 0);
  background-image: url("../images/pet.svg");
  content: "";
}

.useful__more:hover {
  color: var(--secondary-content-color);
}

.useful__more:active {
  color:var(--main-content-color);
  opacity: 0.6;
}
/* Section useful finished */
/* Section contact started */

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 247px;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1700px;
  margin: 0 auto;
  background-color: var(--main-content-color);
}

.contact__iframe {
  width: 32%;
  height: 649px;
  border: none;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 68%;
  padding: 62px 0 64px 166px;
  background-image: url("../images/contactbg.png");
  background-repeat: no-repeat;
  background-position-x: calc(50%);
  background-position-y: 0;
}

.contact__text {
  width: 375px;
}

.contact__title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  color: #fff;
}

.contact__desc {
  margin-top: 0;
  margin-bottom: 29px;
  padding-right: 10px;
  line-height: 20px;
  color: #949494;
}

.contact__input {
  width: 100%;
  margin-bottom: 14px;
  padding: 16px 0 13px 22px;
  line-height: 21px;
  border: none;
}

.contact__area {
  width: 100%;
  height: 165px;
  margin-bottom: 30px;
  padding: 17px 0 13px 22px;
  line-height: 21px;
  border: none;
  resize: none;
}

.contact__btn {
  width: 226px;
  padding: 15px 20px 14px 20px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  color: #fff;
  border: none;
  background-color: var(--secondary-content-color);
  cursor: pointer;
}
/* Section contact finished */
/* Site main styles end */

/* Site footer begin */

.site-footer {
  padding-top: 62px;
  padding-bottom: 23px;
  background-color: #f3f3f3;
}

.site-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-footer:hover {
  opacity: 0.8;
}

.logo-footer:active {
  opacity: 0.6;
}

.site-footer__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 300px;
  margin: 0;
  padding-left: 0;
  row-gap: 14px;
  list-style: none;
}

.site-footer__list:nth-of-type(1) {
  margin-left: 67px;
}

.site-footer__link {
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.3s ease, opacity 0.3s ease;
  -o-transition: color 0.3s ease, opacity 0.3s ease;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.site-footer__link:hover {
  color:var(--secondary-content-color)
}

.site-footer__link:active {
  color: var(--main-content-color);
  opacity: 0.6;
}

.site-footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 670px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: normal;
}

.site-footer__shell {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-footer__shell::before {
  display: none;
}

.workday__bold:nth-of-type(2) {
  margin-left: 18px;
}
.workday__bold--decoration::before {
  display: inline-block;
  width: 14px;
  height: 15px;
  background-image: url("../images/calendar.svg");
  -webkit-transform: translate(-7px, 2px);
      -ms-transform: translate(-7px, 2px);
          transform: translate(-7px, 2px);
  content: "";
}

.site-footer__link-address {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 157px;
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
  color: inherit; 
  -webkit-transition: color 0.3s ease, opacity 0.3s ease; 
  -o-transition: color 0.3s ease, opacity 0.3s ease; 
  transition: color 0.3s ease, opacity 0.3s ease;
}

.site-footer__link-address::before {
  position: absolute;
  display: inline-block;
  left: -21px;
  width: 14px;
  height: 13px;
  margin-right: 9px;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  background-image: url("../images/home.svg");
  content: "";
}

.site-footer__link-address:hover {
  color:var(--secondary-content-color);
}

.site-footer__link-address:active {
  opacity: 0.6;
}

.site-footer__list-tel {
  position: relative;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-footer__list-tel::before {
  position: absolute;
  left: -12px;
  width: 13px;
  height: 13px;
  -webkit-transform: translate(-9px, 2px);
      -ms-transform: translate(-9px, 2px);
          transform: translate(-9px, 2px);
  background-image: url("../images/tel.svg");
  content: "";
}

.site-footer__link-tel {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.3s ease, opacity 0.3s ease;
  -o-transition: color 0.3s ease, opacity 0.3s ease;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.site-footer__link-tel:hover {
  color:var(--secondary-content-color);
}

.site-footer__link-tel:active {
  opacity: 0.6;
}

.site-footer__copyright {
  margin-top: 28px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #949494;
}
/* Site footer end */